<style>
.one-third-column {
width:32%;
margin-right:2%;
float:left;
text-align: center;
}
.one-third-column-last {
width:32%;
margin-right:0;
float:right;
text-align: center;
}

@media only screen and (max-width: 600px) {
.one-half-column-left, .one-half-column-right, 
.one-third-column, .one-third-column-last {
float:none;
width:100%;
margin-right:0;
text-align: center;
}
}
</style>

<div class="olly-header" style="margin-top: 30px; margin-bottom: 30px;">
  <center>
  <h1>Why Parents Love It</h1> 
  </center>
</div>

<div class="one-third-column">
          <img src= https://cdn.shopify.com/s/files/1/0582/5386/9237/files/hypo_allergenic.png?v=1636342099>
          <h2>Baby-friendly</h2>
            <p>Its hypoallergenic and antimicrobial properties are infused to the material, making it perfect for active babies that move so much.</p>
  		</div>
  
  		<div class="one-third-column">
          <img src= https://cdn.shopify.com/s/files/1/0582/5386/9237/files/soft_and_gentle.png?v=1636342099>
          <h2>Mild and cloud-like softness</h2>
            <p>It’s fibers are gentle to your baby’s skin that it prevents chafing and other skin rashes, making your little one enjoy sweet cuddles and undisturbed rest.</p>
  		</div>
  
  		<div class="one-third-column-last">
          <img src= https://cdn.shopify.com/s/files/1/0582/5386/9237/files/breathable_and_lightweight.png?v=1636342099>
          <h2>Light and air-permeable</h2>
            <p>Ensure your baby's comfort during nap from day to night with organic fabric that allows chill air to circulate keeping your baby happy and cool.</p>
  		</div>
<br style="clear:both;" />

<div class="one-third-column">
          <img src= https://cdn.shopify.com/s/files/1/0582/5386/9237/files/versatile_and_practical.png?v=1636342099>
          <h2>Versatile and practical</h2>
            <p>Can be used for swaddling, nursing, cuddling, blanket and more</p>
  		</div>
  
  		<div class="one-third-column">
          <img src= https://cdn.shopify.com/s/files/1/0582/5386/9237/files/organic_fabric.png?v=1636342099>
          <h2>Organic fabric</h2>
            <p>Made with 70% organic bamboo cotton and 30% muslin fabric</p>
  		</div>
  
  		<div class="one-third-column-last">
          <img src= https://cdn.shopify.com/s/files/1/0582/5386/9237/files/beautiful_pattern.png?v=1636342099>
          <h2>Beautiful Pattern</h2>
            <p>Beautiful patterns suit for both baby boys and girls.</p>
  		</div>
<br style="clear:both;" />

{% schema %}
  {
    "name": "New Equipment",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
